.carrousel{
    display:flex;
    height:300px;
}
.retroceder, .avanzar{
    height: 20px;
    width: 20px;
    margin-right: none;
}
#foto_Mostrada{
    flex-grow: 1;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
}
#botonAtras, #botonAdelante{
background-color: rgb(238, 5, 5);
}
